# Next.js
AI-ERP-ASSISTANT/.next/
AI-ERP-ASSISTANT/out/
AI-ERP-ASSISTANT/build/
AI-ERP-ASSISTANT/node_modules/
AI-ERP-ASSISTANT/.env*.local

# Python
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/env/
backend/venv/
backend/package/
backend/lambda_package.zip

# Misc
.DS_Store
*.log
